<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="styles/about.css" rel="stylesheet"/>

<div class="jumbotron col-md-8 col-md-offset-2">
    <ul id="lightSlider">
        <li>
            <h3 class="text-center">Alexander Dimitrov</h3>
            <p class="text-center">Worked on picture(s) and contact view (front-end)</p>
            <img class="img-circle img-responsive center-block" src="images/alex.jpg" alt="alex"/>
            <div class="col-md-offset-5 button-container">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/alexxander.dimitrov" target="new-window">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-social-icon btn-github" href="https://github.com/alexxdim94" target="new-window">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/alexxdim94" target="new-window">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </li>
        <li>
            <h3 class="text-center">Daniel Petrovaliev</h3>
            <p class="text-center">Worked on login, register, homepage (front-end)</p>
            <img class="img-circle img-responsive center-block" src="images/dani.jpg" alt="dani"/>
            <div class="col-md-offset-5 button-container">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/ubedinenie?fref=ts&ref=br_tf" target="new-window">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-social-icon btn-github" href="https://github.com/petrovaliev95" target="new-window">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/115953322224230764536/posts" target="new-window">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </li>
        <li>
            <h3 class="text-center">Zhulieta Atanasova</h3>
            <p class="text-center">Worked on album(s) view (front-end)</p>
            <img class="img-circle img-responsive center-block" src="images/juji.jpg" alt="juji"/>
            <div class="col-md-offset-5 button-container">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/profile.php?id=1774221827&fref=ts" target="new-window">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-social-icon btn-github" href="https://github.com/julietaatanasova" target="new-window">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/profile/view?id=224147656&trk=nav_responsive_tab_profile_pic" target="new-window">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </li>
        <li>
            <h3 class="text-center">Kristiyan Petrov</h3>
            <p class="text-center">Worked entirely on the custom backend service</p>
            <img class="img-circle img-responsive center-block" src="images/zontak.jpg" alt="zontak"/>
            <div class="col-md-offset-5 button-container">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/zntk.rlzzz" target="new-window">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-social-icon btn-github" href="https://github.com/zontak" target="new-window">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/profile/view?id=346948177&trk=nav_responsive_tab_profile" target="new-window">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function() {
        $("#lightSlider").lightSlider({
            keyPress: true,
            auto: true,
            pause: 5000,
            loop: true,
            item: 1,
            mode: 'fade',
            enableDrag: false
        });
    });
</script>